<h1 style="color:red" align="center">简介</h1>
<div style="height: 400px;">
    <p>这是我的第一个node&express项目， 还有很多不懂得地方，持续学习中。。。。</p>
</div>
<div style="float: right;color:gray;">
    <p>* Your fortune for the day:</p>
    <blockquote>{{fortune}}</blockquote>
</div>